{% extends 'pages/base.html' %}

{% load static %}

{% block title%}Sunsetious | Đặt phương tiện{% endblock %}

{% block linkcss%}
<link rel="stylesheet" href="{% static "css/ticket.css" %}" type="text/css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<link rel="stylesheet" href="{% static "css/owl.carousel.min.css"%}">
<link rel="stylesheet" href="{% static "css/owl.theme.default.min.css"%}">
{% endblock %}
{% block imgorsearch%}
	<div class="header_picture">
	<img class="header_picture-item" src="{%static "images/moveticket/datxebackground4.png" %}">
	<div class="header_slogan">
		<h1 class="header_h1">ĐẶT XE TIỆN LỢI - DỄ DÀNG DI CHUYỂN</h1>
	</div>
	<div class = "searchbar">
		<div class="smallbar">
			<ul>
				<li ><a href="/moveticket" class="move">Phương tiện</a><br>
				<svg width="100" height="2">
					<line x1="0" y1="0" x2="100" y2="0" style="stroke: #fff; stroke-linecap:round; stroke-width:10px;" />
				</svg>
				</br></li>
				<li  ><a href="/roomticket" class="room" >Khách sạn</a></li>
				<li ><a href="/tourticket" class="tour">Tour</a></li>
				<li ><a href="/otherservicesticket" class="other">Dịch vụ khác</a></li>
			</ul>
		</div>
		<form class="form__edit">

			<div class="form__items" >
				<label for="place"><small>Địa điểm</small></label>
				<input class="form_input" placeholder="Thành phố, khách sạn, điểm đến,.." name="place" required onfocus="this.placeholder = ''" onblur="this.placeholder = 'Thành phố, khách sạn, điểm đến,..'">
			</div>

			<div class="form__items" >
				<label for="timego"><small>Thời gian đi</small></label>
				<input class="form_input" type="date" name ="timego">
			</div>

			<div class="form__items" >
				<label for="timeback"><small>Thời gian về</small></label>
				<input class="form_input" type="date" name ="timeback">
			</div>
			<div class="form__button">
			<button><i class="far fa-search fa-2x"></i></button>
			</div>
		</form>
	</div>
</div>{% endblock %}
{% block main%}
<section class = "tour_root">
	<h1 class ="tourtittle">MUA VÉ DI CHUYỂN GIÁ RẺ</h1>
	<div class="tour_container">
		<div class = "buttonleft">
			<button class="left" onclick="changeslide(-1)"><i class="fas fa-angle-left fa-2x"
				style="color: #494949"></i></button>
		</div>
		
		<div class="tour_slide-gr">
			<div class="tour_slides">				
						{% for move in moves %}
						<div class="tour_slide">			
							<div class="tour-content-item item">
							<img src='{{move.image.url}}' style="height: 190px; width:250px; border-radius: 22px 19px 0 0; position: relative; bottom: 3px; right: 1px">	
							<div style="margin-top: 10px; height: 27px;">
								<h3 style="text-align: left; font-size: 16px; overflow:hidden; margin-left: 3px">{{move.name}}</h3>
								

								<div class="tour__modified_1" style="padding-right: 10px">
								<i class="fas fa-heart" style="color: rgb(255, 38, 38); position: relative; top:12px;"></i>
									<p class="box1">Yêu thích</p>
								</div>	

								<div class="tour__modified_2">
									<i class="fas fa-map-marker-alt fa-lg" style="color:#ff2200;"></i>
									<p class="box2">{{move.location}}</p>
								</div>	
								<div class="tour__modified_3">
									<i class="fas fa-fire" style="color: #ff002f;"></i>
									<p class="box3">Bán chạy</p>
								</div>					
							</div>
						<div class="tour__modified_4">
							<div class="vote">
								<i class="fas fa-star" style="color: #FBBB00;"></i>
								<p style="margin:0px; color: #40B4E5; font-weight:bold"> {{move.stars}}</p>
							</div>
							<div style="border-right: 1px solid;">
								<p style="margin:0; padding-right: 12px">{{move.n_reviews}} đánh giá</p>
							</div>
							<p style="margin:0px;">{{move.views}} xem</p>
						</div>
							<div style="text-align: center;">
										<h3 style="color: #0db0fc; font-size: 15px; margin-top:10px; margin-bottom:10px">Giá: {{move.price}} VNĐ</h3>
									<button class="tour_button"><a href='/book_tour/{{move.slug}}' > Xem ngay</a></button>
							</div>
								</div>
							</div>
						{% endfor %}
				</div>
			</div>

		<div class = "buttonright">
		<button class="right" onclick="changeslide(1)"><i class="fas fa-angle-right fa-2x"
			style="color: #494949"></i></button>
		</div>
	</div>

<script>
function change(){
	window.location.href = '/book_tour';
}
</script>
<script>
var slides=document.querySelector('.tour_slides');
var slide=Array.from(document.querySelectorAll('.tour_slide'));
var slidegr=document.querySelector('.tour_slide-gr');
var num_page

function makeslide(numberonetime) {

var percentwidth_slide=100/numberonetime;
// tính độ dài của từng slide
num_page=Math.ceil(slide.length/numberonetime);
// tính số lượng trang
slide.forEach((el,index)=>{
el.style.width=(slidegr.offsetWidth/100*percentwidth_slide)+'px';
// set độ rộng của từng slide
})   
slides.style.width=(slidegr.offsetWidth/100*percentwidth_slide)*slide.length+'px';
}
makeslide(3);

var curpage = 1;
function showslide(pagenumber){
slides.style.marginLeft=-(slidegr.offsetWidth*(pagenumber-1))+'px';
}
showslide(1);

function changeslide(n){
curpage=curpage+n;
if(curpage<1) curpage=num_page;
if(curpage>num_page) curpage=1;
showslide(curpage);
}
</script>				
</section>
<p class="daucach"></p>	
{% endblock %}