{% extends 'pages/base.html' %}

{% load static %}

{% block title%}Sunsetious | Bài viết{% endblock %}
{% block linkcss%}<link rel="stylesheet" href="{% static 'css/reviewpost.css' %}" type="text/css">{% endblock %}

{% block imgorsearch%}
{% endblock %}

{% block main%}
<div class = "location">
<a href="/review"> Cẩm nang du lịch</a> 
<i class="fal fa-angle-right fa-lg"></i>
<b> Bài viết </b>
</div>

<h1>Top 10 việc nên làm khi đến Đà Nẵng</h1>
        <time datetime="2021-10-05">5/10/2021</time>
        <p class="post-background"><img src="{% static 'images/reviewpost/danang.jpg' %}" /></p>

        <div class="intro-text">
            <p>Lên kế hoạch cho một chuyến đi đến Đà Nẵng, Việt Nam? Tại sao không?</p>
            <p>Thành phố lớn nhất ở miền Trung Việt Nam thường bị lu mờ bởi Hội An đông đúc nhưng hãy để tôi nói với
                bạn, Đà Nẵng có rất nhiều thứ để cung cấp cho tất cả các loại du khách! Nếu bạn đang đến thăm Đà Nẵng
                vào kỳ nghỉ hoặc có kế hoạch định cư trong một thời gian, hãy xem danh sách những điều nên làm ở Đà Nẵng
                này bao gồm các gợi ý về ẩm thực Đà Nẵng, cuộc sống về đêm ở Đà Nẵng và các chuyến đi khám phá ban ngày.
            </p>
            <p>Bây giờ cùng mình điểm qua 5 điều nên làm khi đến Đà Nẵng. Sau đó ghé <a href="#">phòng đặt vé
                    Sunsetious</a> và book ngay một chuyến đến Đà Nẵng nào!</p>
        </div>

        <div class="list-post-items">
            <div class="item">
                <div>
                    <img src="{% static 'images/reviewpost/bia.jpg' %}" />
                </div>
                <div><svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                    <p class="title">1. Thưởng thức bia thủ công với khung cảnh đường chân trời</p>
                    <p>Một trong những điều yêu thích của tôi khi đến Đà Nẵng - nhâm nhi ly bia thủ công tại Nhà máy bia
                        7 Cầu trong khi ngắm nhìn thành phố Đà Nẵng rực rỡ ánh đèn. Nếu có điều gì đó Đà Nẵng làm đúng,
                        thì đó là đêm khoe sắc!</p>
                    <svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                </div>
            </div>
            <div class="item">
                <div><svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                    <p class="title">2. Đi bộ qua Cầu Bàn Tay Vàng ở Bà Nà Hills</p>
                    <p>Đặc biệt, trong thời gian gần đây Cầu Vàng ở Bà Nà Hills đã khiến cả thế giới phải trầm trồ bởi
                        sự kỳ vĩ, đẹp khó cưỡng của nó. Cầu Vàng “hiện thực hóa” giấc mơ “bước giữa tầng mây” của nhiều
                        người nhờ chiều dài gần 150 m, chiều rộng 3 m, xây trên độ cao 1.400 m so với mực nước biển. cầu
                        được sơn mạ vàng và cong cong chia làm tám nhịp. Cầu Vàng được ví như đôi bàn tay Chúa trời dệt
                        chỉ vàng giữa trời xanh.</p>
                    <svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                </div>
                <div><img src="{% static 'images/reviewpost/tay.jpg' %}" /></div>
            </div>
            <div class="item">
                <div><img src="{% static 'images/reviewpost/nguhanh.png' %}" /></div>
                <div><svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg></br>
                    <p class="title">3. Khám phá ngọn núi Ngũ Hành Sơn</p>
                    <p>Địa danh du lịch nổi tiếng này cũng là một biểu tượng nổi bật của thành phố Đà Nẵng. Ngũ Hành Sơn
                        gồm 5 ngọn núi do tạo hóa ban cho. Trong đó ngọn núi Thủy Sơn là cao nhất và đẹp nhất. Đây cũng
                        là yếu tố giúp Ngũ Hành Sơn thu hút du khách đến đây tham quan, khám phá.</p>
                    <p>Địa danh này sở hữu phong cảnh hữu tình và nằm dài từ đông sang tây rộng 15ha, có nhiều Chùa được
                        xây cất lâu đời, có động Thạch nhũ, có hai chùa đẹp chùa Tam Thai và chùa Linh Ứng. Hòn Thủy Sơn
                        gồm có 09 hang động, 5 chùa- tháp, Vọng giang đài và Vọng hải đài. Du khách đến đây sẽ được
                        chiêm ngưỡng nhiều cảnh đẹp non nước vô cùng hữu tình có một không hai. Đến Đà Nẵng du lịch du
                        khách đừng bỏ qua địa điểm nổi tiếng này nhé!</p>
                    <svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                </div>
            </div>
            <div class="item">
                <div><svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg></br>
                    <p class="title">4. Trải nghiệm vòng quay Sun wheel</p>
                    <p>Công viên này hiện đang là khu vui chơi giải trí lớn nhất Đông Nam Á với tổng diện tích lên đến
                        hơn 860.000 m2 bao gồm hàng trăm trò chơi, dịch vụ, công viên. Ở công viên Asia Park còn có vòng
                        đu quay Sun Wheel – thuộc <b style="color: #0e5a94;font-weight: bold;"><i>top 10 vòng quay lớn
                                nhất thế giới</i></b>.</p>
                    <p>Công viên rộng lớn này có nhiều điểm vui chơi dành cho du khách ở mọi lứa tuổi. Du khách có thể
                        trải nghiệm khám hàng trăm trò chơi giải trí ngoài trời thú vị như: Tàu lượn siêu tốc, máng
                        trượt, tháp rơi tự do, tàu điện trên cao, queen cobra…Hay trải nghiệm vòng quay Sun Wheel – Vòng
                        quay Mặt Trời – một trong 10 vòng quay lớn nhất thế giới với chiều cao 115 m với 64 cabin, vận
                        tốc 15 phút / vòng.</p>
                    <svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                </div>
                <div><img src="{% static 'images/reviewpost/quay.jpg' %}" /></div>
            </div>
            <div class="item">
                <div><img src="{% static 'images/reviewpost/van.jpg' %}" /></div>
                <div><svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg></br>
                    <p class="title">5. Cắm trại tại Làng Vân</p>
                    <p>Nếu bạn là tín đồ của phượt và cắm trại qua đêm thì ngôi làng xinh đẹp dưới chân đèo Hải vân,
                        biệt lập với thành phố này chính là một địa điểm lý tưởng.</p>
                    <p>Du khách khi đến với Làng Vân sẽ được tránh xa khói bụi thành phố tận hưởng không gian trong
                        lành, yên tĩnh, với những bãi biển đẹp, hoang sơ, những hàng dương xanh rì rào trong gió...Cùng
                        bạn bè cắm trại qua đêm cùng nhau ăn uống, ca hát, tắm biển ở đây thì còn gì bằng. Khung cảnh
                        thiên nhiên hoang sơ tuyệt đẹp sẽ làm nao lòng bất cứ ai khi đến đây. Khi dự định cắm trại qua
                        đêm thì du khách nhớ chuẩn bị đầy đủ lương thực và nước uống, cũng như dụng cụ nấu nướng.</p>
                    <svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                </div>
            </div>
            <div class="item">
                <div><svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg></br>
                    <p class="title">6. Đánh cờ trên đỉnh núi?</p>
                    <p>Đến Đà Nẵng du lịch du khách đừng bỏ qua một địa điểm du lịch độc đáo gắn liền với những truyền
                        thuyết thú vị về sự ra đời. Đó chính là Đỉnh Bàn Cờ, đây là nơi được nhiều đam mê độ cao yêu
                        thích. Du khách sẽ bị choáng ngợp bởi khung cảnh thiên nhiên hùng vĩ, nhìn bao quát thành phố
                        bên bãi biển xinh đẹp khi lên đến đỉnh.</p>
                    <p>Du khách đến đây sẽ cảm thấy như lạc vào tiên giới với vẻ đẹp của khung cảnh vô cùng thơ mộng.
                        Điều này cũng cho thấy không phải tự nhiên mà có truyền thuyết những vị tiên đều ghé đỉnh Sơn
                        Trà – tức Đỉnh Bàn Cờ để thưởng ngoạn và chơi cờ.</p>
                    <svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                </div>
                <div><img src="{% static 'images/reviewpost/co.jpg' %}" /></div>
            </div>
            <div class="item">
                <div><img src="{% static 'images/reviewpost/sanho.jpg' %}" /></div>
                <div><svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg></br>
                    <p class="title">7. Một ngày ngắm san hô đã mắt tại Cù Lao Chàm</p>
                    <p>Đặc biệt, Cù Lao Chàm là một nơi lý tưởng để vui chơi, giải trí thông qua hoạt động thú vị đó là
                        <b style="color:#0e5a94;">lặn ngắm san hô</b>.
                    </p>
                    <p>Du khách khi đến với Làng Vân sẽ được tránh xa khói bụi thành phố tận hưởng không gian trong
                        lành, yên tĩnh, với những bãi biển đẹp, hoang sơ, những hàng dương xanh rì rào trong gió...Cùng
                        bạn bè cắm trại qua đêm cùng nhau ăn uống, ca hát, tắm biển ở đây thì còn gì bằng. Khung cảnh
                        thiên nhiên hoang sơ tuyệt đẹp sẽ làm nao lòng bất cứ ai khi đến đây. Khi dự định cắm trại qua
                        đêm thì du khách nhớ chuẩn bị đầy đủ lương thực và nước uống, cũng như dụng cụ nấu nướng.</p>
                    <svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                </div>
            </div>
            <div class="item">
                <div><svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg></br>
                    <p class="title">8. Sống ảo tẹt ga tại phim trường Island</p>
                    <p>Trong danh sách những địa điểm sống ảo chất lừ ở Đà Nẵng thì không thể thiếu phim trường Island.
                    </p>
                    <p>Du khách đến đây sẽ cảm nhận được chút gì đó của sự hoang dã mà lại nhẹ nhàng, vô cùng quyến rũ.
                        Tất cả khung cảnh ở đây đều đẹp và gây ấn tượng với du khách. Từ những chiếc cối xay cho đến
                        hành lang bằng gỗ ngăn cách giữa các khu tạo ra con đường cực đẹp. Du khách có thể thoải mái
                        chọn bất kỳ một góc thôi cũng có thể có được bức ảnh đẹp lung linh. Du khách đến đây sẽ tốn chi
                        phí chụp hình là khoảng 300.000 đồng/h.</p>
                    <svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                </div>
                <div><img src="{% static 'images/reviewpost/island.jpg' %}" /></div>
            </div>
            <div class="item">
                <div><img src="{% static 'images/reviewpost/bunkhoang.jpg' %}" /></div>
                <div><svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg></br>
                    <p class="title">9. Tắm Bùn Khoáng Galina</p>
                    <p>Ở đây cung cấp các dịch vụ tắm bùn khoáng, massage và spa chuyên nghiệp đạt tiêu chuẩn 4 sao.
                        Galina Mud Bath & Spa có diện tích lên tới 1ha, với 23 khu bồn tắm ngoài trời sát biển, 48 bồn
                        tắm trong nhà cùng hàng loạt các dịch vụ vui chơi giải trí khác.</p>
                    <p>Du khách đến đây, sẽ vừa được tắm bùn vừa có thể nghe tiếng sóng vỗ dập dồn, vừa hít thở không
                        khí trong lành của biển cả, lắng nghe âm thanh hòa quyện của mây trời.</p>
                    <p>Galina Mud Bath & Spa tọa lạc ngay tại 254 đường Võ Nguyên Giáp.</p>
                    <svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                </div>
            </div>
            <div class="item">
                <div><svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg></br>
                    <p class="title">10. Tắm thác Ba Đờ Phọt</p>
                    <p>Địa điểm du lịch Đà Nẵng thác Ba Đờ Phọt nằm trên dải núi Chúa, thuộc xã Hòa Phú, huyện Hòa Vang.
                        Nơi đây thu hút du khách bởi những thác nước hùng vĩ, hang đá đẹp cùng thiên nhiên hoang sơ. Với
                        thảm thực vật phong phú cùng khí hậu mát mẻ quanh năm, điểm du lịch Đà Nẵng Ba Đờ Phọt đặc biệt
                        thu hút các bạn trẻ thích phượt, ưa khám phá thiên nhiên. </p>
                    <svg width="500" height="2">
                        <line x1="0" y1="2" x2="500" y2="2"
                            style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1.5;" />
                    </svg>
                </div>
                <div><img src="{% static 'images/reviewpost/thacc.jpg' %}" /></div>
            </div>
        </div>
        <div class="vote-for-post">
            <div class="reaction">
                <button name="reaction"><i class="far fa-heart"></i></button>
                <b>Yêu thích</b>
            </div>
            <div class="danhgia">
                <b>Đánh giá:</b>
                <i class="fal fa-star" id= 'saodanhgia' name='1'></i>
                <i class="fal fa-star" id= 'saodanhgia' name='2'></i>
                <i class="fal fa-star" id= 'saodanhgia' name='3'></i>
                <i class="fal fa-star" id= 'saodanhgia' name='4'></i>
                <i class="fal fa-star" id= 'saodanhgia' name='5'></i>
            </div>
            <div class="rateinpost">
                <i class="fas fa-star" style="color: #FBBB00;"></i> <b style="color: #3db3e6;">4.5</b>
                <i class="fal fa-grip-lines-vertical"></i>
                <i class="fas fa-comment" style="color: #145B90;"></i> <b>4,453 bình luận</b>
                <i class="fal fa-grip-lines-vertical"></i>
                <i class="fas fa-heart" style="color: #EC1522;"></i> <b>23N+ yêu thích</b>
            </div>
        </div>
        <div class="comment">
            <div class="writeyourcmt">
                <div class="youracc">
                    <div>
                        <img class="avatar" src="{% static 'images/reviewpost/avt.png' %}">
                    </div>
                    <div class="tenandinput">
                        <b class="username">Nguyễn Văn Toàn</b>
                        <div class="nhapcmt">
                            <input type="text" name="yourcmt" placeholder="Viết bình luận của bạn về bài viết này...">
                            <i name="sendcmt" class="fal fa-paper-plane" style="color: #3189CC;"></i>
                        </div>
                    </div>
                </div>
            </div>
            <svg width="500" height="2">
                <line x1="0" y1="2" x2="500" y2="2"
                    style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1;" />
            </svg>
            <div class="listcmt">
                <div class="boxcmt">
                    <div>
                        <img src="{% static 'images/reviewpost/avt.png' %}">
                    </div>
                    <div class="tenvanoidungcmt">
                        <b>Như ý</b>
                        <div class="accdanhgia">
                            <i class="fal fa-star" name='star1'></i>
                            <i class="fal fa-star" name='star2'></i>
                            <i class="fal fa-star" name='star3'></i>
                            <i class="fal fa-star" name='star4'></i>
                            <i class="fal fa-star" name='star5'></i>
                        </div>
                        <div class="noidungcmt">
                            <p>Bài viết thật tuyệt! Tôi đã làm 7/10 trong chuyến du lịch của mình,
                                rất đáng để thử</p>
                        </div>
                        <div>
                            <img src="{% static 'images/reviewpost/hill1.jpg' %}">
                        </div>
                        <div>
                            <i class="fas fa-heart" style="color: #EC1522;"></i>
                            <small>Hữu ích</small>
                        </div>
                    </div>

                </div>
                <div class="boxcmt">
                    <div>
                        <img src="{% static 'images/reviewpost/avt.png' %}">
                    </div>
                    <div class="tenvanoidungcmt">
                        <b>Nguyễn Huy</b>
                        <div class="accdanhgia">
                            <i class="fal fa-star" name='star1'></i>
                            <i class="fal fa-star" name='star2'></i>
                            <i class="fal fa-star" name='star3'></i>
                            <i class="fal fa-star" name='star4'></i>
                            <i class="fal fa-star" name='star5'></i>
                        </div>
                        <div class="noidungcmt">
                            <p>Bài viết của Sunsetious thật tuyệt. 10 điểm cho chất lượng. Mình đã thử và rất thích Cù
                                Lao Chàm và việc cắm trại qua đêm tại Làng Vân. Nhóm mình đi có 5 người, và việc được
                                cắm trại cùng với hoà nhập thiên nhiên rời xa cái bộn bề thật sự rất tuyệt.
                                Chắc chắn bọn mình sẽ quay lại lần nữa. Cảm ơn Sunsetious về trải nghiệm tuyệt vời
                                này!!!</p>
                        </div>
                        <div>
                            <img src="{%static 'images/reviewpost/lang.jpg'%}">
                        </div>
                        <div>
                            <i class="fas fa-heart" style="color: #EC1522;"></i>
                            <small>Hữu ích</small>
                        </div>
                    </div>
                </div>
                <div class="boxcmt">
                    <div>
                        <img src="{% static 'images/reviewpost/avt.png' %}">
                    </div>
                    <div class="tenvanoidungcmt">
                        <b>Hũ Nhi</b>
                        <div class="accdanhgia">
                            <i class="fal fa-star" name='star1'></i>
                            <i class="fal fa-star" name='star2'></i>
                            <i class="fal fa-star" name='star3'></i>
                            <i class="fal fa-star" name='star4'></i>
                            <i class="fal fa-star" name='star5'></i>
                        </div>
                        <div class="noidungcmt">
                            <p>Mình ở Đà Năng và bài viết này thật tuyệt vời khi nói về những địa danh nơi đây!</p>
                        </div>
                        
                        <div>
                            <i class="fas fa-heart" style="color: #EC1522;"></i>
                            <small>Hữu ích</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <svg width="500" height="2">
            <line x1="0" y1="2" x2="500" y2="2"
                style="stroke: rgb(150, 150, 150); stroke-linecap:round; stroke-width:1;" />
        </svg>
        <h2>Một số tour, dịch vụ liên quan</h2>
        <div class="rcmtour">
            <div class="box_tour">
                <img src="{% static 'images/reviewpost/rsz_1ci.jpg'%}" />
                <div class="box_tour_text">
                    <p class="bold">Tour Đà Nẵng 3N1Đ</p>
                    <p><strong style="font-family: quicksan-bold;">Giá:</strong> <i
                            style="text-decoration: line-through;">3,715,000 VNĐ</i>
                        <br>2,999,000 VNĐ</br>
                    </p>
                    <button name="xem_ngay">Xem ngay</button>
                </div>
            </div>
            <div class="box_tour">
                <img src="{% static 'images/reviewpost/rsz_hill1.jpg' %}" />
                <div class="box_tour_text">
                    <p class="bold">Tour Bà Nà Hill 2N1Đ</p>
                    <p><strong style="font-family: quicksan-bold;">Giá:</strong> <i
                            style="text-decoration: line-through;">5,715,000 VNĐ</i>
                        <br>4,999,000 VNĐ</br>
                    </p>
                    <button name="xem_ngay">Xem ngay</button>
                </div>
            </div>
        </div>
{% endblock %}

{% block linkjs %}{% endblock %}