{% extends 'pages/base.html' %}

{% load static %}

{% block title%}Sunsetious | Đặt khách sạn{% endblock %}

{% block linkcss%}
<link rel="stylesheet" href="{% static "css/ticket.css" %}" type="text/css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
<link rel="stylesheet" href="{% static "css/owl.carousel.min.css"%}">
<link rel="stylesheet" href="{% static "css/owl.theme.default.min.css"%}">
{% endblock %}
{% block imgorsearch%}
	<div class="header_picture">
	<img class="header_picture-item" src="{%static "images/roomticket/bgroom.jpg" %}">
	<div class="header_slogan">
		<h1 class="header_h1">KHÔNG GIAN NGHỈ DƯỠNG CỦA BẠN</h1>
	</div>
	<div class = "searchbar">
		<div class="smallbar">
			<ul>
				<li ><a href="/moveticket" class="move">Phương tiện</a></li>
				<li  ><a href="/roomticket" class="room" >Khách sạn</a>
				<br>
				<svg width="90" height="2">
					<line x1="0" y1="0" x2="90" y2="0" style="stroke: #fff; stroke-linecap:round; stroke-width:10px;" />
				</svg>
				</br>
				</li>
				<li ><a href="/tourticket" class="tour">Tour</a></li>
				<li ><a href="/otherservicesticket" class="other">Dịch vụ khác</a></li>
			</ul>
		</div>
		<form class="form__edit">

			<div class="form__items" >
				<label for="place"><small>Địa điểm</small></label>
				<input class="form_input" placeholder="Thành phố, khách sạn, điểm đến,.." name="place" required onfocus="this.placeholder = ''" onblur="this.placeholder = 'Thành phố, khách sạn, điểm đến,..'">
			</div>

			<div class="form__items" >
				<label for="timego"><small>Thời gian đi</small></label>
				<input class="form_input" type="date" name ="timego">
			</div>

			<div class="form__items" >
				<label for="timeback"><small>Thời gian về</small></label>
				<input class="form_input" type="date" name ="timeback">
			</div>
			<div class="form__button">
			<button><i class="far fa-search fa-2x"></i></button>
			</div>
		</form>
	</div>
</div>{% endblock %}
{% block main%}
</section>

<!--<section class="tour_root">
	
	<div class="tour_container">
		<div style="height: 480px;">
		<h2 class="title_h1">TOUR GIẢM SỐC</h2>
			<div class="tour-content owl-carousel owl-theme" id="one">-->
			<section class = "tour_root">
				<h1 class ="tourtittle">GIẢM GIÁ PHÒNG</h1>
				<div class="tour_container">
					<div class = "buttonleft">
						<button class="left" onclick="changeslide(-1)"><i class="fas fa-angle-left fa-2x"
							style="color: #494949"></i></button>
					</div>
					
					<div class="tour_slide-gr">
						<div class="tour_slides">				
									{% for room in rooms %}
									<div class="tour_slide">			
										<div class="tour-content-item item">
										<img src='{{room.image.url}}' style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
										<div style="margin-top: 10px; height: 27px;">
											<h3 style="text-align: center; font-size: 17px;">{{room.name}}</h3>
											

											<div class="tour__modified_1">
											<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
												<p class="box1">Yêu thích</p>
											</div>	

											<div class="tour__modified_2">
												<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
												<p class="box2">{{room.location}}</p>
											</div>	
											<div class="tour__modified_3">
												<i class="fas fa-fire" style="color: #DF0029;"></i>
												<p class="box3">Bán chạy</p>
											</div>					
										</div>
									<div class="tour__modified_4">
										<div class="vote">
											<i class="fas fa-star" style="color: #FBBB00;"></i>
											<p style="margin:0px; color: #40B4E5"> {{room.stars}}</p>
										</div>
										<div style="border-right: 1px solid;">
											<p style="margin:0px;">{{room.n_reviews}} đánh giá</p>
										</div>
										<p style="margin:0px;">{{room.views}} xem</p>
									</div>
										<div style="text-align: center;">
													<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: {{room.price}} VNĐ</h3>
												<a href="/order/{{room.slug}}"><button class="tour_button" > Xem ngay</button></a>
										</div>
											</div>
										</div>
									{% endfor %}
							</div>
						</div>
			
					<div class = "buttonright">
					<button class="right" onclick="changeslide(1)"><i class="fas fa-angle-right fa-2x"
						style="color: #494949"></i></button>
					</div>
				</div>	
	<script>
			function change(){
				window.location.href = '/book_tour';
			}
	</script>
	<script>
	var slides=document.querySelector('.tour_slides');
	var slide=Array.from(document.querySelectorAll('.tour_slide'));
	var slidegr=document.querySelector('.tour_slide-gr');
	var num_page
	
	function makeslide(numberonetime) {
		
		var percentwidth_slide=100/numberonetime;
		// tính độ dài của từng slide
		num_page=Math.ceil(slide.length/numberonetime);
		// tính số lượng trang
		slide.forEach((el,index)=>{
			el.style.width=(slidegr.offsetWidth/100*percentwidth_slide)+'px';
			// set độ rộng của từng slide
		})   
		slides.style.width=(slidegr.offsetWidth/100*percentwidth_slide)*slide.length+'px';
	}
	makeslide(3);
	
	var curpage = 1;
	function showslide(pagenumber){
		slides.style.marginLeft=-(slidegr.offsetWidth*(pagenumber-1))+'px';
	}
	showslide(1);
	
	function changeslide(n){
		curpage=curpage+n;
		if(curpage<1) curpage=num_page;
		if(curpage>num_page) curpage=1;
		showslide(curpage);
	}
	</script>				
</section>


<!-- Dịch vụ ăn uống -->
<section class="food_root">
	
	<div class="food_container">
		<div style="height: 400px;">
		<h1 class="title_h1">PHỔ BIẾN</h1>
			<div class="tour-content owl-carousel owl-theme" >
			
					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/pullman.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Pullman Saigon | Hotel</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Quận 1 - tp.HCM</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/neww.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								New World Saigon | Hotel</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Quận 1 - tp.HCM</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/carte.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								À La Carte Danang | Beach Hotel</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Sơn Trà - Đà Nẵng</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/brilliant.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Brilliant | Hotel</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Hải Châu - Đà Nẵng</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/sheraton.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Sheraton Hanoi | Hotel</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Tây Hồ - Hà Nội</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/del.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								De L'Opera Hanoi | Hotel</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Hoàn Kiếm - Hà Nội</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/villasong.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Villa Song Saigon | Resort</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Quận 2 - tp.HCM</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/jamona.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Jamona Home | Resort</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Thủ Đức - tp.HCM</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/sailing.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Sailing Club Nha Trang | Resort</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">N.Trang - Khánh Hòa</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/diamondbay.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Diamond Bay | Resort & Spa </h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">N.Trang - Khánh Hòa</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/tanda.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Tản Đà | Resort & Spa</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">H.Ba Vì - Hà Nội</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/asean.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Asean | Resort & Spa</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">H.Thạnh Thất - Hà Nội</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/gardenvilla.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								The Garden | Villa</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">H.Sóc Sơn | Hà Nội</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/pondvilla.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Pond Nhà Ao | Villa</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; bottom: 2px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">H.Sóc Sơn - Hà Nội</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/tranduy.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Trần Duy | Villa</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Vũng Tàu - Vũng Tàu</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/white.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								White Villas | Villa</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Vũng Tàu - Vũng Tàu</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/sun.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Sunflower International | Villa</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Ngô Quyền - Hải Phòng</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/baodai.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Bảo Đại | Villa</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Đồ Sơn - Hải Phòng</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/pullman.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Pullman Saigon | Hotel</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Quận 1 - tp.HCM</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/neww.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								New World Saigon | Hotel</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Quận 1 - tp.HCM</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/carte.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								À La Carte Danang | Beach Hotel</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Sơn Trà - Đà Nẵng</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/brilliant.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">Brilliant | Hotel</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Hải Châu - Đà Nẵng</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/sheraton.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Sheraton Hanoi | Hotel</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Tây Hồ - Hà Nội</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/del.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								De L'Opera Hanoi | Hotel</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Hoàn Kiếm - Hà Nội</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/villasong.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Villa Song Saigon | Resort</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Quận 2 - tp.HCM</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/jamona.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Jamona Home | Resort</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">Q.Thủ Đức - tp.HCM</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/sailing.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Sailing Club Nha Trang | Resort</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">N.Trang - Khánh Hòa</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/diamondbay.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Diamond Bay | Resort & Spa </h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">N.Trang - Khánh Hòa</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>	

					<div class="item">
						<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/tanda.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Tản Đà | Resort & Spa</h3>
							

						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">H.Ba Vì - Hà Nội</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>	
						
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 200,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>	

				<div class="tour-content-item ">
						<img src="{%static 'images/roomticket/asean.jpg'%}" style="height: 190px; width:271px; border-radius: 22px 19px 0 0; position: relative; right: 2px;">	
						<div style="margin-top: 10px; height: 27px;">
							<h3 style="text-align: center; font-size: 17px;">
								Asean | Resort & Spa</h3>					
						<div class="tour__modified_1">
							<i class="fas fa-heart" style="color: red; position: relative; top:12px;"></i>
								<p class="box1">Yêu thích</p>
							</div>	

						<div class="tour__modified_2">
							<i class="fas fa-map-marker-alt fa-lg" style="color:#D95642;"></i>
							<p class="box2">H.Thạnh Thất - Hà Nội</p>
						</div>	
						<div class="tour__modified_3">
							<i class="fas fa-fire" style="color: #DF0029;"></i>
							<p class="box3">Bán chạy</p>
						</div>							
					</div>
					<div class="tour__modified_4">
						<div class="vote">
							<i class="fas fa-star" style="color: #FBBB00;"></i>
						<p style="margin:0px; color: #40B4E5"> 4.5</p>
						</div>
						<div style="border-right: 1px solid;">
							<p style="margin:0px;">2,453 đánh giá</p>
						</div>
						<p style="margin:0px;">3N+ xem</p>
			</div>
								
								<div style="text-align: center;">
									<h3 style="color: blue; font-size: 15px; magin: 0 auto;">Giá: 100,000 VNĐ</h3>
								<button class="tour_button"> Xem ngay</button>
								</div>
						</div>
					</div>		
</div>
					
</section>
{% endblock %}
{% block linkjs %}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{%static "js/owl.carousel.min.js" %}"></script>
<script >
	$(document).ready(function() {
	   var one = $('#one')
	   one.owlCarousel({
		loop:true,
		margin:10,
		nav:true,
		 navText:['<i class="fas fa-chevron-circle-left nav_icon"></i>','<i class="fas fa-chevron-circle-right nav_icon"></i>'],
		 dots:false,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:3
			},
			1000:{
				items:3
			}
		}
	   })
	  var el = $('.owl-carousel');
	  
	  var carousel;
	  var carouselOptions = {
		margin: 20,
		nav: true,
		dots: true,
		 // navText:['<i class="fas fa-chevron-circle-left nav_icon"></i>','<i class="fas fa-chevron-circle-right nav_icon"></i>'],
		slideBy: 'page',
		responsive: {
		  0: {
			items: 1,
			rows: 2 //custom option not used by Owl Carousel, but used by the algorithm below
		  },
		  768: {
			items: 2,
			rows: 3 //custom option not used by Owl Carousel, but used by the algorithm below
		  },
		  991: {
			items: 3,
			rows: 3 //custom option not used by Owl Carousel, but used by the algorithm below
		  }
		}
	  };
	
	  //Taken from Owl Carousel so we calculate width the same way
	  var viewport = function() {
		var width;
		if (carouselOptions.responsiveBaseElement && carouselOptions.responsiveBaseElement !== window) {
		  width = $(carouselOptions.responsiveBaseElement).width();
		} else if (window.innerWidth) {
		  width = window.innerWidth;
		} else if (document.documentElement && document.documentElement.clientWidth) {
		  width = document.documentElement.clientWidth;
		} else {
		  console.warn('Can not detect viewport width.');
		}
		return width;
	  };
	
	  var severalRows = false;
	  var orderedBreakpoints = [];
	  for (var breakpoint in carouselOptions.responsive) {
		if (carouselOptions.responsive[breakpoint].rows > 1) {
		  severalRows = true;
		}
		orderedBreakpoints.push(parseInt(breakpoint));
	  }
	  
	  //Custom logic is active if carousel is set up to have more than one row for some given window width
	  if (severalRows) {
		orderedBreakpoints.sort(function (a, b) {
		  return b - a;
		});
		var slides = el.find('[data-slide-index]');
		var slidesNb = slides.length;
		if (slidesNb > 0) {
		  var rowsNb;
		  var previousRowsNb = undefined;
		  var colsNb;
		  var previousColsNb = undefined;
	
		  //Calculates number of rows and cols based on current window width
		  var updateRowsColsNb = function () {
			var width =  viewport();
			for (var i = 0; i < orderedBreakpoints.length; i++) {
			  var breakpoint = orderedBreakpoints[i];
			  if (width >= breakpoint || i == (orderedBreakpoints.length - 1)) {
				var breakpointSettings = carouselOptions.responsive['' + breakpoint];
				rowsNb = breakpointSettings.rows;
				colsNb = breakpointSettings.items;
				break;
			  }
			}
		  };
	
		  var updateCarousel = function () {
			updateRowsColsNb();
	
			//Carousel is recalculated if and only if a change in number of columns/rows is requested
			if (rowsNb != previousRowsNb || colsNb != previousColsNb) {
			  var reInit = false;
			  if (carousel) {
				//Destroy existing carousel if any, and set html markup back to its initial state
				carousel.trigger('destroy.owl.carousel');
				carousel = undefined;
				slides = el.find('[data-slide-index]').detach().appendTo(el);
				el.find('.fake-col-wrapper').remove();
				reInit = true;
			  }
	
	
			  //This is the only real 'smart' part of the algorithm
	
			  //First calculate the number of needed columns for the whole carousel
			  var perPage = rowsNb * colsNb;
			  var pageIndex = Math.floor(slidesNb / perPage);
			  var fakeColsNb = pageIndex * colsNb + (slidesNb >= (pageIndex * perPage + colsNb) ? colsNb : (slidesNb % colsNb));
	
			  //Then populate with needed html markup
			  var count = 0;
			  for (var i = 0; i < fakeColsNb; i++) {
				//For each column, create a new wrapper div
				var fakeCol = $('<div class="fake-col-wrapper"></div>').appendTo(el);
				for (var j = 0; j < rowsNb; j++) {
				  //For each row in said column, calculate which slide should be present
				  var index = Math.floor(count / perPage) * perPage + (i % colsNb) + j * colsNb;
				  if (index < slidesNb) {
					//If said slide exists, move it under wrapper div
					slides.filter('[data-slide-index=' + index + ']').detach().appendTo(fakeCol);
				  }
				  count++;
				}
			  }
			  //end of 'smart' part
	
			  previousRowsNb = rowsNb;
			  previousColsNb = colsNb;
	
			  if (reInit) {
				//re-init carousel with new markup
				carousel = el.owlCarousel(carouselOptions);
			  }
			}
		  };
	
		  //Trigger possible update when window size changes
		  $(window).on('resize', updateCarousel);
	
		  //We need to execute the algorithm once before first init in any case
		  updateCarousel();
		}
	  }
	
	  //init
	  carousel = el.owlCarousel(carouselOptions);
	});
</script>
{% endblock %}