* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.returnhome{
    width: 160px;
    display: flex;
    z-index: 10;
    color: #145B90;
    position: relative;
    top: 100px;
    left:80px;
}
.return{
    margin: 0 auto;
}
.returnhome a{
    text-decoration: none;
    color: #145B90;
    font-family: Quicksand-Medium;
}

fieldset {
    width:100%;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
    padding: 25px;
/* test */
    position: relative;
    width: 900px;
    height: 500px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0,0.5);
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    background-color: white;
    border-radius: 15px;
}


/*Định dạng cột bên trái*/

#col-left {
    float: left;
    width: 70%;
    text-align: center;
    margin-left: -5em;
    margin-right: 5em;
}

#col-left .logo-content {
    display: inline-block;
}

#col-left .logo-content img {
    width: 100%;
   
}

#col-left .logo-content
 {
    width: 150%;
    margin-left: 4.4em ;
    margin-top: 1.5em;
    font-size: 30px;
    font-weight: bold;
}

#col-left .picture-discipt {
    width: 200%;
    margin-left: 7em;
    margin-top:20px;
}


/*Kết thúc định dạng bên trái*/


/*Định dạng bên phải*/

#col-right {
    width: 150%;
    height: 120px;
    
    margin-left: 20em;
}


/*  định dạng font*/
@font-face{
    src: url(../font/Quicksand-Bold.ttf);
    font-family: Quicksand-Bold ;
}
@font-face{
    src: url(../font/Quicksand-Light.ttf);
    font-family: Quicksand-Light ;
}
@font-face{
    src: url(../font/Quicksand-Medium.ttf);
    font-family: Quicksand-Medium;
}
@font-face{
    src: url(../font/Quicksand-Regular.ttf);
    font-family: Quicksand-Regular;
}
@font-face{
    src: url(../font/Quicksand-SemiBold.ttf);
    font-family: Quicksand-SemiBold;
}
@font-face{
    src: url(../font/Quicksand-VariableFont_wght.ttf);
    font-family: VariableFont ;
}
/* cài font cho mấy em chữ */
h1{
   
    text-align: center;
    font-family: Quicksand-SemiBold;
    font-size:300%;
    color: #137ACA;
    margin-bottom: 12px;
   
}
h2{
    text-align: center;
    font-family: Quicksand-Medium;
    font-size:120%;
    color: black;
    margin-bottom: 12px;
   
}
    

[id=col-right] p{
    font-family: Quicksand-Bold;
    font-size: 120%;
    color: rgb(165, 163, 163);
}

 /* 2 cục xanh */
 body {
    width: 95%;
    height: 95vh;
    display: flex;
        justify-content: center;
        align-items: center;
    background-image: url(../images/Login-Signin/background.png);}

.quenmatkhau{
    text-align: left;
    padding-left: 50px;
    margin-bottom: 10px;
}
.quenmatkhau a{
    color: rgb(116, 116, 116);
    font-family: Quicksand-Light;
    font-size: 15px;
}
/* 2 cục đăng nhập đăng kí */
.dkbutton{
width: 35%;
padding: 10px 20px;
border: 2px solid #5AD3FF ;
background: white;
font-size: 12px;
letter-spacing: 1px;
border-radius: 15px;
font-family: Quicksand-Medium;
margin-left: 20px;
margin-bottom: 7px;
margin-top: 7px;
cursor: pointer;}

.dnbutton{
    width: 35%;
    padding: 10px 20px;
    border: 3px solid #5AD3FF ;
    background:#5AD3FF ;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 15px;
    font-family: Quicksand-Medium;
    cursor: pointer;
}
/* ô tk,pass */
fieldset div input
{
    border: 1px solid rgb(119, 119, 119);
    border-radius: 10px;
    padding: 7px 40px;
    font-family: Quicksand-Medium;
    font-size: 15px;
    padding-left: 35px;
    margin-bottom: 12px;
    background: none;
    width: 250px;
}
/* đăng nhập bằng... */
.orderlogo img
{
margin-right: 30px;
}
.username,.password1,.password2,.email{
    position: relative;
    padding-left: 50px;
    width: 200px;
}
.ab i{
 position: absolute;
 left: 583px;
 margin-top: 10px;
}
.order-logo img{
    width: 40px;
    margin-right: 10px;
}